 @model Bicycles.Models.FuncionarioModel
 
 @{
    ViewData["Title"] = "Login Page";
}


 @using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
  <div class="form-group">
      <label for="login_fun">Login:</label>
  <input type="text" class="form-control" id="login_fun" name="login_fun" aria-describedby="login" placeholder="Insira o login">
  </div>
  <div class="form-group">
      <label for="senha_fun">Senha:</label>
  <input type="password" class="form-control" id="login_fun" name="senha_fun" aria-describedby="login" placeholder="Insira a senha">
  </div>
    <input type="submit" value="Login" />
            
}